$row: calc((100dvh - (5 * 20px)) / 6);
$column: calc((100dvw - (5 * 20px)) / 6);

.about {
  top: calc(-300dvh + $row + $row);
  left: 0;
  .content {
    height: calc(#{$row} * 3 + 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-inline: calc(#{$column} + 20px);
    gap: 20px;
    img {
      height: $row;
    }
    &__title {
      text-transform: uppercase;
      margin-top: 6px;
      font-family: "Now Black", sans-serif;
      font-size: 1.2rem;
    }
    &__text {
      text-align: center;
      height: calc(#{$row} * 2 + 20px);
      font-size: 1.2rem;
      line-height: 1.4rem;
    }

    &:nth-child(1) .content__text,
    &:nth-child(2) .content__text {
      overflow-y: scroll;
      mask-image: linear-gradient(#000 50%, transparent 100%);
      scrollbar-width: none;
      p {
        font-size: 1.2rem;
        line-height: 1.6rem;
        text-align: justify;
        padding: 5% 0 35%;
      }
    }

    &--friends {
      .content__text {
        height: auto;
      }
    }
  }

  .menus {
    margin: 20px calc(#{$column} + 20px) 0;
    height: $row;

    &--grid {
      display: flex;
      flex-wrap: wrap;

      .jobs,
      .aboutMenu {
        width: 100%;
        display: flex;

        li {
          text-align: center;
          margin-block: auto;
          width: calc(100% / 3);
        }
      }
    }

    &--flex {
      display: flex;

      .aboutMenu {
        display: flex;
        align-items: center;
        width: 100%;

        li {
          text-align: center;
          margin-block: auto;
          width: calc(100% / 3);
        }
      }
    }
  }

  .aboutMenu {
    &__link {
      &:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.4vh;
      }
    }
  }

  .slideTitle {
    text-align: center;
  }

  .friendlist {
    .friend {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .slider {
        display: flex;
        height: $row;
        width: calc(#{$column} * 4 + 60px);
        justify-content: space-between;
        align-items: center;

        i {
          font-size: 3rem;
          color: rgba(255, 255, 255, 0.418);
        }
      }

      &__description {
        height: $row;
        display: flex;
        flex-direction: column;
        align-items: center;

        .name {
          font-size: 2rem;
          font-family: "Bricolage Bold", sans-serif;
        }

        .text {
          text-align: center;
          height: calc(#{$row} / 2);
          font-size: 1.2rem;
          line-height: 1.4rem;
          flex: 1;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .aka {
    opacity: 0;
    bottom: -3%;
    width: calc(#{$column} * 1.5);
    height: calc(#{$row} / 2);
    &__cream {
      left: 0%;
    }

    &__red {
      right: 0;
    }
  }
}
