$row: calc((100dvh - (5 * 20px)) / 6);
$column: calc((100dvw - (5 * 20px)) / 6);

.about {
  top: calc(-300dvh + #{$row} + #{$row});
  left: 0;
  .content {
    height: calc(#{$row} * 3 + 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-inline: calc(#{$column} + 20px);
    gap: 20px;
    &--first {
      .content__title {
        display: none;
      }
    }

    &--second {
      .mainOpinion {
        display: none;
      }

      .content__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .opinions {
          .opinion {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 7vh;
            &__text {
              font-size: 1.1rem;
              line-height: 1.5rem;
              text-align: center;
            }
            &__title {
              font-size: 2rem;
              font-family: "Bricolage Bold", sans-serif;
            }
            .opinionSlider {
              display: flex;
              height: #{$row};
              width: calc(#{$column} * 4 + 60px);
              justify-content: space-between;
              align-items: center;
              // overflow: hidden;

              i {
                font-size: 3rem;
                color: rgba(255, 255, 255, 0.418);
                transition: 1s ease-in-out;
              }

              img {
                height: #{$row};
              }
            }
          }
        }
        .desktopOpinions {
          display: none;
        }
      }
    }
    .content__img {
      padding: calc(#{$row} / 3) 0;
      height: #{$row};
    }
    &__title {
      text-transform: uppercase;
      margin-top: 6px;
      font-family: "Now Black", sans-serif;
      font-size: 1.2rem;
    }
    &__text {
      text-align: center;
      height: calc(#{$row} * 2 + 20px);
      font-size: 1.2rem;
      line-height: 1.4rem;
    }

    &:nth-child(1) .content__text {
      overflow-y: scroll;
      mask-image: linear-gradient(#000 50%, transparent 100%);
      scrollbar-width: none;
      p {
        font-size: 1.2rem;
        line-height: 1.6rem;
        text-align: justify;
        padding: 5% 0 35%;
      }
    }

    &--friends {
      .content__text {
        height: auto;
      }
      .slider img {
        height: #{$row};
      }
    }
  }

  .menus {
    margin: 20px calc(#{$column} + 20px) 0;
    height: #{$row};

    &--double {
      display: flex;
      flex-wrap: wrap;

      .jobs,
      .aboutMenu {
        width: 100%;
        display: flex;

        li {
          text-align: center;
          margin-block: auto;
          width: calc(100% / 3);
        }
      }

      .aboutMenu {
        transform: translateY(0);
      }
    }

    &--single {
      display: flex;

      .aboutMenu {
        display: flex;
        align-items: center;
        width: 100%;
        transform: translateY(0);

        li {
          text-align: center;
          margin-block: auto;
          width: calc(100% / 3);
        }
      }
    }
  }

  .aboutMenu {
    &__link {
      &:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.4vh;
      }
      &::after {
        display: none;
      }
    }
    .submenu__active {
      p {
        position: relative;
        width: fit-content;
        margin: 0 auto;
        &::after {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          height: 1px;
          background-color: #e41313;
        }
      }
    }
  }

  .jobs,
  .jobsDesktop {
    &__link {
      &::after {
        display: none;
      }
    }
    .submenu__active {
      p {
        position: relative;
        width: fit-content;
        margin: 0 auto;
        &::after {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          height: 1px;
          background-color: #e41313;
        }
      }
    }
  }

  .slideTitle {
    text-align: center;
  }

  .friendlist {
    .friend {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .slider {
        display: flex;
        height: #{$row};
        width: calc(#{$column} * 4 + 60px);
        justify-content: space-between;
        align-items: center;
        // overflow: hidden;

        i {
          font-size: 3rem;
          color: rgba(255, 255, 255, 0.418);
          transition: 1s ease-in-out;
        }
      }

      &__description {
        height: #{$row};
        display: flex;
        flex-direction: column;
        align-items: center;

        .name {
          font-size: 2rem;
          font-family: "Bricolage Bold", sans-serif;
        }

        .text {
          text-align: center;
          height: calc(#{$row} / 2);
          font-size: 1.2rem;
          line-height: 1.4rem;
          flex: 1;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .friendlistDesktop {
    display: none;
  }

  .aka {
    opacity: 0;
    bottom: 0;
    height: calc(#{$row} / 2);
    &__cream {
      left: 0%;
    }

    &__red {
      right: 0;
    }
  }
}

@media screen and (min-width: 700px) {
  .about {
    .content {
      .content__img {
        padding: calc(#{$row} / 4) 0;
      }
    }
    .content:nth-child(1) .content__text p {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
}

@media screen and (min-width: 1000px) {
  .about {
    .content:nth-child(1) .content__text p {
      font-size: 1.6rem;
      line-height: 2.3rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  $row: calc((100dvh - (11 * 20px)) / 12);
  $column: calc((100dvw - (11 * 20px)) / 12);
  .about {
    top: calc(-300dvh - #{$row} - #{$row} - 20px);
    .content {
      height: calc(#{$row} * 8 + 140px);
      padding-top: calc(#{$row} * 3 + 60px);
      flex-wrap: wrap;
      margin-inline: 0;
      &__title {
        display: block;
        width: calc(#{$column} * 5 + 80px);
        margin-bottom: calc(#{$row} + 20px);
        font-size: 3.5rem;
      }
      &__text {
        width: calc(#{$column} * 7 + 120px);
        height: calc(#{$row} * 3 + 60px);

        p {
          padding: 0 0 10% !important;
        }
      }
      .content__img {
        padding: 0;
        height: auto;
        width: calc(#{$row} * 3);
        // flex: 100%;
      }
    }

    .content--first {
      .content__title {
        display: inherit;
      }
    }

    .content--second {
      padding-top: calc(#{$row} * 2 + 60px);

      .content__wrapper {
        .content__title {
          margin-bottom: 0;
          margin-left: calc(#{$column} * 2 + 20px);
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .opinions {
          display: none;
        }

        .desktopOpinions-wrapper {
          width: 100%;
          overflow: hidden;
        }

        .desktopOpinions {
          display: flex;
          width: 100dvw;
          gap: calc(#{$column} + 20px);
          will-change: transform;
          overflow: hidden;
          padding-inline: calc(#{$column} + 20px);
          transition: all 1s;

          .opinion {
            width: #{$column}; // petit par défaut
            margin-top: calc(#{$row} + 20px);
            display: flex;
            flex-direction: column;
            gap: #{$row};
            // transition: all 1s;

            &__infos {
              display: flex;
              flex-direction: column;
              gap: #{$row};
              align-items: center;
              opacity: 0;
              pointer-events: none;

              .opinion__title {
                font-size: 3.5rem;
                font-family: "Now Black", sans-serif;
              }
              .opinion__text {
                text-align: center;
                font-size: 1.6rem;
                line-height: 2rem;
              }
            }

            img {
              max-height: calc(#{$row} * 4 + 100px);

              &.big {
                min-width: calc((100dvw - 220px) / 12 * 3);
              }
            }

            &.active {
              animation: activeIn 1s forwards;

              min-width: calc(#{$column} * 3);
              margin-top: 0;
              pointer-events: none;
              transition: all 1s;

              .opinion__infos {
                animation: opinionInfo 1s 1s forwards;
              }

              img {
                max-height: calc(#{$row} * 5 + 120px);
              }

              @keyframes opinionInfo {
                0% {
                  transform: translateY(20px);
                  opacity: 0;
                }
                100% {
                  transform: translateY(0);
                  opacity: 1;
                }
              }
            }

            @keyframes activeIn {
              0% {
                min-width: #{$column};
                margin-top: calc(#{$row} + 20px);
              }
              100% {
                min-width: calc(#{$column} * 3);
                margin-top: 0;
              }
            }
          }
        }
      }
    }

    .content--friends {
      padding-top: calc(#{$row} * 3 + 60px);
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: calc(#{$column} + 20px);
      gap: 0;
      .friendlist {
        display: none;
      }

      .friendlistDesktop {
        display: flex;
        flex: 100%;
        width: calc(#{$column} * 6 + 100px);
        .friend {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: calc(#{$column} * 2 + 20px);

          img {
            // width: 100%;
            height: calc(#{$row} * 2 + 20px);
          }

          &__description {
            display: flex;
            flex-direction: column;
            align-items: center;

            .name {
              margin: 20px 0 40px;
            }

            .text {
              text-align: center;
            }
          }
        }
      }
      .content__title {
        width: calc(#{$column} * 3 + 40px);
        margin: 0 0 calc(#{$row} + 20px);
        font-size: 4.5rem;
      }
      .content__text {
        width: calc(#{$column} * 3 + 40px);
        height: calc(#{$row} * 2 + 20px);
        text-align: left;
        font-size: 1.6rem;
        line-height: 2.3rem;
      }
    }

    .jobsDesktop {
      position: absolute;
      right: calc(#{$column} + 20px);
      top: calc(#{$row} * 8 + 160px);
      display: flex;
      flex-direction: column;
      gap: 30px;

      &__link {
        width: fit-content;
      }
    }

    .menus {
      height: #{$row};
      width: calc(#{$column} * 4 + 60px);
      margin-top: 20px;
      margin-inline: auto;

      .aboutMenu {
      }
    }
    .slideTitle {
      margin-top: 40px;
    }

    .aka {
      &__cream {
        left: calc(#{$column} * 4 + 80px);
      }

      &__red {
        right: calc(#{$column} * 4 + 80px);
      }
    }
  }
}
