$row: calc((100dvh - (5 * 20px)) / 6);
$column: calc((100dvw - (5 * 20px)) / 6);

.work--enter {
  animation: workSlideEnter 2s forwards;
  .project {
    animation: slideFromRight 2s forwards;
  }

  .category span {
    animation: slideFromRight 2s;
  }

  .workMenu {
    animation: slideFromBottom 2s, smallGap 1s 1s;
  }

  .red {
    opacity: 0;
    animation: rec 0.5s 2.75s forwards;
  }

  .submenu__active::after {
    animation: underline 1s 2s forwards;
  }

  // .aka {
  //   animation: workAkas 1s 2.75s forwards;
  // }

  .hidden-temp {
    visibility: hidden;
  }
}

.work--exit {
  .project {
    animation: slideToRight 2s;
  }

  .category span {
    animation: slideToRight 2s;
  }

  .workMenu {
    animation: slideToBottom 2s;
  }

  .submenu__active::after {
    width: 100%;
  }
}

.work--inside {
  transition: none;
  transform: translateX(-100%);

  .aka {
    opacity: 1;
    animation: workAkas 1s;
  }

  .submenu__active::after {
    width: 100%;
  }

  .workMenu__link {
    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      right: 0;
      left: auto;
      transform: translateX(0);
      height: 1px;
      background-color: #e41313;
    }
    &.underline--exit {
      position: relative;
      animation: shineOut 1s forwards;

      &::after {
        width: 100%;
        animation: underline 1s forwards reverse;
      }
    }
    &.underline--enter {
      position: relative;
      animation: shineOut 0.5s forwards reverse;

      &::after {
        width: 0;
        animation: underline 1s forwards;
      }
    }
  }
}

.anim {
  animation: workSliderExit 1s forwards ease-in;
}

.anim__reverse {
  animation: workSliderEnter 1s forwards ease-out;
}

.contact {
  .content__title {
    &--exit {
      animation: slideToTop 0.5s forwards;
    }

    &--enter {
      animation: slideFromBottom 0.5s forwards, fadeIn 1s forwards;
    }
  }

  .content__text {
    &--exit {
      animation: fadeOut 0.5s forwards;
    }

    &--enter {
      animation: fadeIn 0.75s forwards;
    }
  }
}

.contact--enter {
  animation: contactSlideEnter 2s forwards;
  transform: translateX(-100%);

  .red {
    opacity: 0;
    animation: rec 0.5s 2.75s forwards;
  }

  .submenu__active::after {
    animation: underline 1s 2s forwards;
  }

  .contactMenu {
    animation: slideFromBottom 2s, mediumGap 1s 1s;
  }

  .content {
    .subtitle {
      animation: slideFromLeft 2s forwards;
    }

    .text {
      animation: slideFromLeft 2s 0.25s forwards;
    }
  }

  // .aka {
  //   animation: contactAkas 1s 2.75s forwards;
  // }
}

.contact--inside {
  transition: none;
  transform: translateX(100%);

  .content {
    overflow: hidden;
  }

  .aka {
    opacity: 1;
    animation: contactAkas 1s;
  }

  .submenu__active::after {
    width: 100%;
  }

  .contactMenu__link {
    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      transform: translateX(0);
      height: 1px;
      background-color: #e41313;
    }
    &.underline--exit {
      position: relative;
      animation: shineOut 1s forwards;

      &::after {
        width: 100%;
        animation: underline 1s forwards reverse;
      }
    }
    &.underline--enter {
      position: relative;
      animation: shineOut 0.5s forwards reverse;

      &::after {
        width: 0;
        animation: underline 1s forwards;
      }
    }
  }
}

.contact--exit {
  .content {
    .subtitle {
      animation: slideToLeft 2s forwards;
    }

    .text {
      animation: slideToLeft 2s 0.25s forwards;
    }
  }

  .contactMenu {
    animation: slideToBottom 2s;
  }

  .submenu__active::after {
    width: 100%;
  }

  .aka {
    animation: contactAkas 1s 0.5s reverse;
  }
}

.about {
  .content__img {
    &--exit {
      animation: aboutSlideToLeft 1s forwards ease-in-out;
    }

    &--enter {
      animation: aboutSlideFromRight 1s forwards ease-in-out,
        fadeIn 0.75s forwards;
    }
  }

  .content__text {
    &--exit {
      animation: fadeOut 1s forwards;
    }

    &--enter {
      animation: fadeIn 2.5s forwards;
    }
  }

  .aboutMenu--down {
    animation: aboutMenuDown 1s forwards;
  }

  .aboutMenu--up {
    animation: aboutMenuDown 1s forwards reverse;
  }

  .jobsMenu--enter {
    animation: fadeIn 1s forwards;
  }

  .jobsMenu--exit {
    animation: fadeOut 1s forwards;
  }
}

@keyframes aboutMenuDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc($row / 3.9));
  }
}

.about--enter {
  animation: aboutSlideEnter 2s forwards;
  // .aka {
  //   animation: aboutAkas 1s 2.75s forwards;
  // }
  .menus {
    animation: slideFromLeft 2s forwards;
  }
  .submenu__active {
    p::after {
      width: 100% !important;
    }
  }
}

.about--inside {
  top: calc(-200dvh + $row + $row);
  .aka {
    opacity: 1;
    animation: aboutAkas 1s;
  }
  .submenu__active {
    color: #fcfbf5;
    text-shadow: 0px 0 13px #fcfbf5;
    position: relative;
    pointer-events: none;
  }
  .underline--enter {
    animation: shineOut 0.5s forwards reverse;
    p {
      &::after {
        animation: underline 0.75s forwards !important;
      }
    }
  }
  .underline--exit {
    animation: shineOut 0.75s forwards;
    p {
      position: relative;
      width: fit-content;
      margin: 0 auto;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 1px;
        background-color: #e41313;

        animation: underline 0.75s forwards reverse;
      }
    }
  }
}

.menu {
  .mainColumn--enter {
    animation: menuEnter 1.25s forwards;
  }

  .menu__border--enter {
    animation: menuBorderEnter 1.25s forwards;
  }

  .link--enter {
    animation: menuLinkEnter 1s 1.25s forwards;
  }

  .text--enter {
    animation: menuTextEnter 1.5s 1.25s forwards;
  }

  .logo--enter {
    animation: menuLogoEnter 0.5s 2.25s forwards;
  }
}

.navigation {
  &.navigation--enter--right {
    animation: navigationEnterRight 2s forwards;
    position: relative;
    transform: translateX(100dvw);
  }

  &.navigation--enter--left {
    animation: navigationEnterLeft 2s forwards;
    position: relative;
    transform: translateX(-100dvw);
  }

  &.navigation--enter--up {
    animation: navigationEnterUp 2s forwards;
    position: relative;
    transform: translateY(-100dvh);
  }

  &.navigation--enter--down {
    animation: navigationEnterDown 2s 0.05s forwards;
    position: relative;
    transform: translateY(100dvh);
  }
}

@keyframes aboutSlideEnter {
  0% {
    top: calc(-300dvh + $row + $row);
  }
  100% {
    top: calc(-200dvh + $row + $row);
  }
}

@keyframes aboutAkas {
  0% {
    transform: translateY(5vh);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes navigationEnterRight {
  0% {
    transform: translateX(100dvw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes navigationEnterLeft {
  0% {
    transform: translateX(-100dvw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes navigationEnterUp {
  0% {
    transform: translateY(-100dvh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes navigationEnterDown {
  0% {
    transform: translateY(100dvh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes menuEnter {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes menuBorderEnter {
  0% {
    transform: translateX(-100dvw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes menuLinkEnter {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes menuTextEnter {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes menuLogoEnter {
  0% {
    transform: translateY(10vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes workSliderExit {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes workSliderEnter {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes aboutSlideFromRight {
  0% {
    transform: translateX(85vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes aboutSlideToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-85vw);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes workSlideEnter {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes contactSlideEnter {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideToBottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes slideToTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50vh);
  }
}

@keyframes smallGap {
  0% {
    gap: 28px;
  }
}

@keyframes mediumGap {
  0% {
    gap: 50px;
  }
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    pointer-events: none;
    cursor: default;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    pointer-events: all;
    opacity: 1;
  }
}

@keyframes shineOut {
  0% {
    text-shadow: 0px 0 13px #fcfbf5;
    color: #fcfbf5;
  }

  100% {
    text-shadow: none;
    color: rgba(255, 255, 255, 0.418);
  }
}

@keyframes rec {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes workAkas {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes contactAkas {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
