$row: calc((100dvh - (5 * 20px)) / 6);
$column: calc((100dvw - (5 * 20px)) / 6);

.contact {
  top: 0;
  left: -150%;

  .content {
    padding: $row 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(#{$row} * 4 + 60px);
    margin: 0 calc(#{$column} + 20px);

    .text {
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 1.3rem;
      height: calc(#{$row} * 2 + 20px);
    }
    &--typeform {
      .subtitle {
        color: #fcfbf5;
        text-transform: uppercase;
        font-size: 3rem;
        min-height: 10vh;
        display: flex;
        align-items: flex-end;
      }
    }

    &--medias {
      .medias {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 10vh;
      }
      img {
        max-width: 15vw;
      }
    }

    &--form {
      padding: calc(#{$row} + 20px) 0 0;
      justify-content: flex-start;

      form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: calc(#{$row} * 0.095);
        width: calc(#{$column} * 4);
        input,
        textarea {
          font-family: "Bricolage Bold", sans-serif;
          color: rgba(255, 255, 255, 0.4);
          background-color: #2c2c2c;
          border: none;
          padding-left: 3vw;
          font-size: 1.5rem;
        }
        input {
          height: calc(#{$row} * 0.27);
        }
        textarea {
          margin-top: calc(20px - #{$row} * 0.095);
          height: calc(100dvh / 6);
          padding-top: 1vh;
          resize: none;
        }
        ::placeholder {
          color: rgba(255, 255, 255, 0.4);
          position: absolute;
          left: 15px;
        }
        input[type="submit"] {
          width: 60%;
        }
      }
    }
  }

  .slideTitle {
    margin: 0 0 35px $column;
  }

  .contactMenu {
    font-family: "Bricolage Bold", sans-serif;
    margin-left: $column;
    display: flex;
    flex-direction: column;
    gap: 18px;
    &__link {
      width: fit-content;
    }
  }

  .aka {
    opacity: 0;
    &__cream {
      width: calc(#{$column} + 20px);
      top: 63%;
      right: -8%;
    }

    &__red {
      width: calc(#{$column}/ 2);
      height: calc(#{$row}/ 2);
      top: 80%;
      right: -3%;
    }
  }
}
