$row: calc((100dvh - (5 * 20px)) / 6);
$column: calc((100dvw - (5 * 20px)) / 6);

.home {
  position: relative;

  .identity {
    padding: calc(#{$row} + 20px) 0 0 0;
    display: flex;
    gap: calc(#{$row} / 3);
    flex-direction: column;
    align-items: center;
    &__logo {
      height: calc(#{$row} + 40px);
      cursor: pointer;

      img {
        height: 100%;
      }
    }

    &__title {
      text-transform: uppercase;
      font-size: 1.4rem;
      font-family: "Stix Regular", sans-serif;
    }
  }

  .opinions {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 2vw;

    i {
      position: absolute;
      z-index: 3;
      &.fa-chevron-left {
        left: 10%;
      }
      &.fa-chevron-right {
        right: 10%;
      }
    }

    .content__wrapper {
      display: flex;
      overflow: hidden;
      height: calc(#{$row} * 2);
    }

    .content {
      min-width: 60%;
      margin: 0 20%;
      transition: transform 1s ease-in-out;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      flex-direction: column;
      padding-bottom: calc(#{$row} / 2);
      gap: calc(#{$row} / 3);

      h4 {
        padding-top: 20px;
        font-family: "Now Black", sans-serif;
        font-size: 1.8rem;
        text-align: center;
      }
      p {
        text-align: center;
        font-size: 1.1rem;
        white-space: normal;
      }
    }
  }

  .aka--wrapper {
    position: absolute;
    top: calc(#{$row} * 3 + 80px);
    bottom: auto;
    height: #{$row};
    p {
      display: none;
    }
  }

  .aka__cream--wrapper {
    left: 0;
    p {
      left: 120%;
      color: #e41313;
    }
  }

  .aka__red--wrapper {
    right: 0;
    p {
      right: 120%;
    }
  }

  .aka {
    position: static;
    top: auto;
    height: 100%;
    &__cream {
      left: 0;
    }

    &__red {
      right: 0;
    }
  }
}

@media screen and (min-width: 1440px) {
  $row: calc((100dvh - (11 * 20px)) / 12);
  $column: calc((100dvw - (11 * 20px)) / 12);
  .home {
    top: calc(-1 * #{$row} - #{$row} - 20px);
    .identity {
      padding: 0 0 #{$row};
      height: 100%;
      gap: 30px;
      justify-content: center;

      .break {
        // display: inline;
      }

      &__logo {
        height: calc(#{$row} * 3 + 40px);
        position: relative;

        img {
          height: 100%;
        }

        &::after,
        &::before {
          opacity: 0;
          transition: 0.5s;
          position: absolute;
        }

        &::after {
          content: "ABOUT";
          display: flex;
          align-items: center;
          justify-content: center;
          top: -55px;
          left: 50%;
          transform: translateX(-50%);
          width: calc((100dvw - (11 * 20px)) / 12);
          border-radius: 14px;
          font-size: 22px;
          height: 35px;
          color: rgba(255, 255, 255, 0.58);
          background-color: #343434;
        }

        /* le triangle de la bulle */
        &::before {
          content: "";
          top: -20px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 8px solid #343434;
        }

        &:hover::after,
        &:hover::before {
          opacity: 1;
        }
      }

      &__title {
        font-size: 1.6rem;
      }
    }

    .aka--wrapper {
      position: absolute;
      top: auto;
      bottom: calc(#{$row} * 4 + 80px);
      height: calc(#{$row} * 3);
      p {
        position: absolute;
        top: 0;
        height: calc(#{$row} * 3);
        display: flex;
        justify-content: center;
        font-size: 2.2rem;
        text-orientation: upright;
        writing-mode: vertical-lr;
      }
    }

    .aka__cream--wrapper {
      left: 0;
      p {
        left: 120%;
        color: #e41313;
      }
    }

    .aka__red--wrapper {
      right: 0;
      p {
        right: 120%;
      }
    }

    .aka {
      position: static;
      top: auto;
      bottom: calc(#{$row} * 4 + 80px);
      height: calc(#{$row} * 3);
      &__cream {
        left: 0;
      }

      &__red {
        right: 0;
      }
    }
  }
}
