$row: calc((100dvh - (5 * 20px)) / 6);
$column: calc((100dvw - (5 * 20px)) / 6);

.home {
  position: relative;

  .identity {
    padding: calc($row + 20px) 0 0 0;
    display: flex;
    gap: calc($row / 3);
    flex-direction: column;
    align-items: center;
    &__logo {
      max-width: 75vw;
      max-height: calc(#{$row} + 40px);
    }

    &__title {
      text-transform: uppercase;
    }
  }

  .aka {
    top: calc(#{$row} * 3 + 80px);
    height: $row;
    &__cream {
      left: -10%;
    }

    &__red {
      right: -10%;
    }
  }
}
