$row: calc((100dvh - (5 * 20px)) / 6);
$column: calc((100dvw - (5 * 20px)) / 6);

.menu {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #e41313;
  color: #131412;
  transition: 1s;
  text-transform: uppercase;
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  font-family: "Now Black", sans-serif;

  &__close {
    width: fit-content;
    height: fit-content;
    right: 7vw;
    top: 3vh;
    color: #fcfbf5;
  }

  &__text {
    flex: 1;
    display: flex;
    text-orientation: upright;
    writing-mode: vertical-lr;
    padding-top: 10vh;
    letter-spacing: 25px;
    transform: translateY(100%);
  }

  &__img {
    max-width: 20px;
    transform: translateY(10vh);
  }

  .firstcol {
    width: $column;
    height: 100%;
    border-right: 1px solid #131412;
    display: flex;
    flex-direction: column;
    gap: 1px;

    .gridSquare {
      width: 100%;
      height: calc(#{$row} + 20px);
      border-top: 1px solid #131412;
      border-bottom: 1px solid #131412;

      &:first-child {
        border-top: none;
        height: calc(#{$row} / 2);
      }

      &:last-child {
        flex: 1;
        border-bottom: none;
      }
    }
  }

  .secondcol {
    width: calc(#{$column} * 3 + 78px);
    height: 100%;
    border-left: 1px solid #131412;
    border-right: 1px solid #131412;
    display: flex;
    flex-direction: column;
    gap: 1px;

    .gridSquare {
      width: 100%;
      height: calc(#{$row} + 20px);
      border-top: 1px solid #131412;
      border-bottom: 1px solid #131412;

      &:first-child {
        border-top: none;
        height: calc(#{$row} / 2);
      }

      &:last-child {
        flex: 1;
        border-bottom: none;
      }
    }

    .menu__link {
      display: flex;
      align-items: center;
      transition: 0.5s all;
      overflow: hidden;

      h2 {
        margin-left: 5vw;
        flex: 1;
        transform: translateX(100vw);
      }
    }
  }

  .thirdcol {
    border-left: 1px solid #131412;
    width: calc(#{$column} * 2 + 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 5vh;
    color: #fcfbf5;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(#{$row}/ 3) $column;
  height: $row;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #131412;
  position: relative;

  &__logo {
    max-width: 20px;
  }
  &__burger {
    font-size: 20px;
  }
}
