$row: calc((100dvh - (5 * 20px)) / 6);
$column: calc((100dvw - (5 * 20px)) / 6);

.break {
  display: block;
  text-align: center;
}

.activeLink {
  color: #fcfbf5;
  text-shadow: 0 0 13px #fcfbf5;
}

.hidden {
  display: none !important;
}

.unclickable {
  pointer-events: none;
  cursor: default;
  opacity: 0;
}

.front {
  z-index: 7;
}

.behind {
  z-index: 6;
}

.red {
  color: #e41313;
  text-shadow: 0px 0 10px #e41313;
}

.black {
  background-color: rgba(20, 18, 19, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  height: 100vh;
  width: 100vw;
  padding: 0 #{$column} 5vh;
  transition: 1s ease-in-out;

  &__close {
    font-family: "Bricolage Bold", sans-serif;
    position: absolute;
    right: 12%;
    top: calc(#{$row} / 4);
    font-size: 4rem;
    cursor: pointer;
  }

  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    margin-top: #{$row};
    .title {
      font-family: "Now Black", sans-serif;
      text-align: center;
      text-transform: uppercase;
    }
    .iframe__wrapper {
      display: flex;
      align-items: center;
      height: calc(#{$row} * 2);
    }
    iframe {
      width: 100%;
      max-height: 100%;
    }
    &__description {
      text-align: center;
      height: #{$row};
      width: 100%;
    }
  }

  .infos {
    display: flex;
    flex-wrap: wrap;
    height: calc((100dvh - 100px) / 6);
    margin-top: 20px;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    &__wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1vh;

      &__title {
        text-transform: uppercase;
        font-family: "Bricolage Bold", sans-serif;
      }

      &--fonction {
        height: 100%;
        text-align: end;
      }
    }
  }
}

.submenu {
  font-family: "Bricolage Bold", sans-serif;
  color: rgba(255, 255, 255, 0.418);
  text-transform: uppercase;
  &__active {
    color: #fcfbf5;
    text-shadow: 0px 0 13px #fcfbf5;
    position: relative;
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 1px;
      background-color: #e41313;
    }
  }
}

.slide {
  height: calc(#{$row} * 5 + 100px);
  width: 100dvw;
  position: relative;
  transition: 2s ease-in-out;
  background-color: #131412;
}

.slideTitle {
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Now Black", sans-serif;
}

.aka {
  position: absolute;
  transition: 2s;
  cursor: pointer;

  &.aka--left {
    transform: translateX(-20vw);
  }
  &.aka--right {
    transform: translateX(20vw);
  }
  &.aka--down {
    transform: translateY(10vh);
  }
}

.aka--wrapper {
  transition: 2s;
  &.aka--left {
    transform: translateX(-20vw);
  }
  &.aka--right {
    transform: translateX(20vw);
  }
  &.aka--down {
    transform: translateY(10vh);
  }
  p {
    user-select: none;
  }
}

.left {
  translate: -100dvw;
}

.right {
  translate: 100dvw;
}

.down {
  transform: translateY(100dvh);
}

.noOverflow {
  overflow: hidden;
}

@media screen and (min-width: 700px) {
  .slideTitle {
    font-size: 4rem;
  }
  .submenu {
    font-size: 1.6rem;
  }
  .black {
    .title {
      font-size: 1.6rem;
    }
    .video__description {
      font-size: 1.6rem;
    }
    .infos {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 1000px) {
  .slideTitle {
    font-size: 5rem;
  }
  .submenu {
    font-size: 1.8rem;
  }
  .black {
    .title {
      font-size: 2rem;
    }
    .video__description {
      font-size: 2rem;
    }
    .infos {
      font-size: 1.8rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  $row: calc((100dvh - (11 * 20px)) / 12);
  $column: calc((100dvw - (11 * 20px)) / 12);
  .slideTitle {
    font-size: 6rem;
  }
  .slide {
    height: 100dvh;
  }

  .black {
    padding: calc(#{$row} + 20px) 0 0 calc(#{$column}* 3 + 60px);
    display: flex;
    gap: #{$column};

    .video {
      width: calc(#{$column} * 6 + 100px);
      margin-top: 0;
      .title {
        margin-right: auto;
      }
      .iframe__wrapper {
        width: 100%;
        height: calc(#{$row} * 6 + 100px);
      }
      iframe {
        height: 100%;
        width: 100%;
      }
      &__description {
        text-align: justify;
      }
    }

    .infos {
      flex-wrap: nowrap;
      flex-direction: column;
      height: fit-content;
      margin-top: calc(#{$row} * 2 + 20px);
      font-size: 1.6rem;
      justify-content: inherit;
      align-items: inherit;

      .info {
        margin-bottom: 20px;
        &--fonction {
          text-align: inherit;
        }
      }
    }
  }
}
