.break {
  display: block;
  text-align: center;
}

.activeLink {
  color: white;
}

.hidden {
  display: none !important;
}

.red {
  color: red;
}

.submenu {
  color: rgba(255, 255, 255, 0.418);
  text-transform: uppercase;
  &__active {
    color: white;
    text-decoration: underline;
    text-decoration-color: red;
  }
}

.slideTitle {
  font-size: 4rem;
}

.aka {
  position: absolute;
}
