$row: calc((100dvh - (5 * 20px)) / 6);
$column: calc((100dvw - (5 * 20px)) / 6);

.break {
  display: block;
  text-align: center;
}

.activeLink {
  color: #fcfbf5;
  text-shadow: 0 0 13px #fcfbf5;
}

.hidden {
  display: none !important;
}

.unclickable {
  pointer-events: none;
  cursor: default;
  opacity: 0;
}

.front {
  z-index: 7;
}

.red {
  color: #e41313;
  text-shadow: 0px 0 10px #e41313;
}

.black {
  background-color: rgba(20, 18, 19, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  height: 100vh;
  width: 100vw;
  padding: 0 $column 5vh;

  &__close {
    font-family: "Bricolage Bold", sans-serif;
    position: absolute;
    right: 50%;
    top: 3vh;
    transform: translateX(50%);
    font-size: 4rem;
  }

  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    margin-top: $row;
    .title {
      font-family: "Now Black", sans-serif;
      text-align: center;
      text-transform: uppercase;
    }
    .iframe__wrapper {
      display: flex;
      align-items: center;
      height: calc(#{$row} * 2);
    }
    iframe {
      width: 100%;
      max-height: 100%;
    }
    &__description {
      text-align: center;
      height: $row;
      width: 100%;
    }
  }

  .infos {
    display: flex;
    flex-wrap: wrap;
    height: calc((100dvh - 100px) / 6);
    margin-top: 20px;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    &__wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1vh;

      &__title {
        text-transform: uppercase;
        font-family: "Bricolage Bold", sans-serif;
      }

      &--fonction {
        height: 100%;
        text-align: end;
      }
    }
  }
}

.submenu {
  font-family: "Bricolage Bold", sans-serif;
  color: rgba(255, 255, 255, 0.418);
  text-transform: uppercase;
  &__active {
    color: #fcfbf5;
    text-shadow: 0px 0 13px #fcfbf5;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 1px;
      background-color: #e41313;
    }
  }
}

.slide {
  height: 100dvh;
  width: 100dvw;
  position: absolute;
  transition: 2s;
  background-color: #131412;
}

.slideTitle {
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Now Black", sans-serif;
}

.aka {
  position: absolute;
  transition: 2s;
}

.left {
  translate: -150%;
}

.right {
  translate: 150%;
}
