$row: calc((100dvh - (5 * 20px)) / 6);
$column: calc((100dvw - (5 * 20px)) / 6);

.work {
  top: calc(-100dvh + $row);
  left: 100dvw;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;

  .presentation {
    align-self: flex-end;
    margin: calc($row / 3 + 20px) $column 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 35px;
    .workMenu {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 12px;
    }
  }

  .projects {
    display: flex;
    border-top: 1px solid #fcfbf5;
    border-bottom: 1px solid #fcfbf5;
    width: 100vw;
    white-space: nowrap;
    overflow: scroll hidden;
    max-height: calc((#{$row} + 40px) * 2);

    .project {
      min-width: 60vw;
      font-family: "Bricolage Bold", sans-serif;

      &__text {
        display: flex;
        justify-content: space-between;
        height: 50%;
        padding: 0 15px 15px;
        align-items: flex-end;
        .number {
          font-size: 2.5rem;
          color: rgba(255, 0, 0, 0.5);
        }
      }
      &__image {
        height: 50%;
        img {
          object-fit: cover;
          object-position: 0 25%;
          width: 100%;
          height: 100%;
        }
      }
      &:nth-child(even) {
        display: flex;
        flex-direction: column-reverse;
        .project__text {
          align-items: flex-start;
          padding: 15px 15px 0;
          border-top: 1px solid #fcfbf5;
        }
      }
      &:nth-child(odd) {
        .project__image {
          border-top: 1px solid #fcfbf5;
        }
      }
    }
  }

  .category {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    border-top: 1px solid #fcfbf5;
    min-height: calc(#{$row} / 2);
    width: 100dvw;
    font-family: "Now Black", sans-serif;
  }

  .aka {
    opacity: 0;
    left: 0;
    &__red {
      height: $row;
      top: calc($row * 3 + 80px);
    }

    &__cream {
      height: calc($row/ 2);
      top: calc($row * 4 + $row / 3 + 80px);
    }
  }
}
