.work {
  top: 0;
  left: 150%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  .presentation {
    align-self: flex-end;
    margin: 3vh calc(100dvw / 6) 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 35px;
    // revoir les deux gap
    .workMenu {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 18px;
    }
  }

  $projects-height: calc(((100dvh / 6) + 40px) * 2);

  .projects {
    height: $projects-height;
    display: flex;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 100vw;
    white-space: nowrap;
    overflow: scroll hidden;

    .project {
      min-width: 60vw;
      &__text {
        display: flex;
        justify-content: space-between;
        height: 50%;
        padding: 0 15px 15px;
        align-items: flex-end;
        .title {
        }
        .number {
          font-size: 2.5rem;
          color: rgba(255, 0, 0, 0.5);
        }
      }
      &__image {
        height: 50%;
        img {
          object-fit: cover;
          object-position: 0 25%;
          width: 100%;
          height: 100%;
        }
      }
      &:nth-child(even) {
        display: flex;
        flex-direction: column-reverse;
        .project__text {
          align-items: flex-start;
          padding: 15px 15px 0;
          border-top: 1px solid white;
        }
      }
      &:nth-child(odd) {
        .project__image {
          border-top: 1px solid white;
        }
      }
    }
  }

  $un-sixieme: 100dvh / 6;

  .category {
    font-size: 4rem;
    text-transform: uppercase;
    margin: $un-sixieme 0 0;
    padding: 2dvh 0;
    border-top: 1px solid white;
    width: 100dvw;
    text-align: center;
  }

  .aka {
    &__cream {
      max-width: calc(100dvw / 12);
      max-height: calc(100dvh / 12);
      top: 90%;
      left: -4%;
    }

    &__red {
      max-width: calc(100dvw / 6 + 20px);
      max-height: calc(100dvh / 6);
      top: 72%;
      left: -10%;
    }
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

.anim {
  animation: slideRight 1s forwards ease-in;
}

.anim__reverse {
  animation: slideLeft 1s forwards ease-out;
}

.hidden-temp {
  visibility: hidden;
}
