@import "reset";
@import "base";
@import "utils";
@import "menu";
@import "home";
@import "work";
@import "about";
@import "contact";
@import "animations";

@font-face {
  font-family: "Now Black";
  src: url("../fonts/Now-Black.otf");
}
@font-face {
  font-family: "Bricolage Bold";
  src: url("../fonts/BricolageGrotesque-Bold.woff2");
}
@font-face {
  font-family: "Bricolage Light";
  src: url("../fonts/BricolageGrotesque-Light.woff2");
}

body {
  background-color: #131412;
  color: #fcfbf5;
  overflow: hidden;
  position: relative;
  font-family: "Bricolage Light", sans-serif;
}

main {
  transition: transform 0.75s;
  height: 100dvh;
  width: 100dvw;
}
