@import "reset";
@import "base";
@import "utils";
@import "menu";
@import "home";
@import "work";
@import "about";
@import "contact";

body {
  background-color: black;
  color: white;
  overflow: hidden;
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  transition: transform 1s;
}
