html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  all: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

a,
a:hover,
a:visited {
  color: #131412;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.break {
  display: block;
  text-align: center;
}

.activeLink {
  color: #fcfbf5;
  text-shadow: 0 0 13px #fcfbf5;
}

.hidden {
  display: none !important;
}

.unclickable {
  pointer-events: none;
  cursor: default;
  opacity: 0;
}

.red {
  color: #e41313;
}

.black {
  background-color: rgba(20, 18, 19, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  padding: 0 calc((100dvw - 100px) / 6) 5vh;
}
.black__close {
  font-family: "Bricolage Bold", sans-serif;
  position: absolute;
  right: 50%;
  top: 3vh;
  transform: translateX(50%);
  font-size: 4rem;
}
.black .video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  margin-top: calc((100dvh - 100px) / 6);
}
.black .video .title {
  font-family: "Now Black", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.black .video .iframe__wrapper {
  display: flex;
  align-items: center;
  height: calc(calc((100dvh - 100px) / 6) * 2);
}
.black .video iframe {
  width: 100%;
  max-height: 100%;
}
.black .video__description {
  text-align: center;
  height: calc((100dvh - 100px) / 6);
  width: 100%;
}
.black .infos {
  display: flex;
  flex-wrap: wrap;
  height: calc((100dvh - 100px) / 6);
  margin-top: 20px;
  font-size: 1.2rem;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.black .infos__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.black .infos .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
}
.black .infos .info__title {
  text-transform: uppercase;
  font-family: "Bricolage Bold", sans-serif;
}
.black .infos .info--fonction {
  height: 100%;
  text-align: end;
}

.submenu {
  font-family: "Bricolage Bold", sans-serif;
  color: rgba(255, 255, 255, 0.418);
  text-transform: uppercase;
}
.submenu__active {
  color: #fcfbf5;
  text-shadow: 0px 0 13px #fcfbf5;
  text-decoration: underline;
  text-decoration-color: #e41313;
}

.slide {
  height: 100dvh;
  width: 100dvw;
  position: absolute;
}

.slideTitle {
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Now Black", sans-serif;
}

.aka {
  position: absolute;
}

.menu {
  position: absolute;
  left: 100%;
  height: 100vh;
  width: 100vw;
  background-color: #e41313;
  color: #131412;
  transition: 1s all;
  text-transform: uppercase;
  z-index: 2;
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  font-family: "Now Black", sans-serif;
}
.menu__close {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  right: 7vw;
  top: 3vh;
  color: #fcfbf5;
}
.menu__text {
  flex: 1;
  display: flex;
  text-orientation: upright;
  writing-mode: vertical-lr;
  padding-top: 10vh;
  letter-spacing: 25px;
}
.menu__img {
  max-width: 20px;
}
.menu .firstcol {
  width: calc((100dvw - 100px) / 6);
  height: 100%;
  border-right: 1px solid #131412;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.menu .firstcol .gridSquare {
  width: 100%;
  height: calc(calc((100dvh - 100px) / 6) + 20px);
  border-top: 1px solid #131412;
  border-bottom: 1px solid #131412;
}
.menu .firstcol .gridSquare:first-child {
  border-top: none;
  height: calc(calc((100dvh - 100px) / 6) / 2);
}
.menu .firstcol .gridSquare:last-child {
  flex: 1;
  border-bottom: none;
}
.menu .secondcol {
  width: calc(calc((100dvw - 100px) / 6) * 3 + 78px);
  height: 100%;
  border-left: 1px solid #131412;
  border-right: 1px solid #131412;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.menu .secondcol .gridSquare {
  width: 100%;
  height: calc(calc((100dvh - 100px) / 6) + 20px);
  border-top: 1px solid #131412;
  border-bottom: 1px solid #131412;
}
.menu .secondcol .gridSquare:first-child {
  border-top: none;
  height: calc(calc((100dvh - 100px) / 6) / 2);
}
.menu .secondcol .gridSquare:last-child {
  flex: 1;
  border-bottom: none;
}
.menu .secondcol .menu__link {
  display: flex;
  align-items: center;
  transition: 0.5s all;
}
.menu .secondcol .menu__link h2 {
  margin-left: 5vw;
}
.menu .thirdcol {
  border-left: 1px solid #131412;
  width: calc(calc((100dvw - 100px) / 6) * 2 + 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 5vh;
  color: #fcfbf5;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(calc((100dvh - 100px) / 6) / 3) calc((100dvw - 100px) / 6);
  height: calc((100dvh - 100px) / 6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}
.navigation__logo {
  max-width: 20px;
}
.navigation__burger {
  font-size: 20px;
}

.home {
  position: relative;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.home .identity {
  display: flex;
  gap: 2vh;
  flex-direction: column;
  align-items: center;
}
.home .identity__logo {
  max-width: 75vw;
  max-height: calc(16.6666666667dvh + 40px);
}
.home .identity__title {
  text-transform: uppercase;
}
.home .aka {
  top: 75%;
  max-width: calc(16.6666666667dvw + 20px);
  max-height: 16.6666666667dvh;
}
.home .aka__cream {
  left: -11%;
}
.home .aka__red {
  right: -11%;
}

.work {
  top: 0;
  left: 150%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
}
.work .presentation {
  align-self: flex-end;
  margin: 5dvh calc((100dvw - 100px) / 6) 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 35px;
}
.work .presentation .workMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}
.work .projects {
  display: flex;
  border-top: 1px solid #fcfbf5;
  border-bottom: 1px solid #fcfbf5;
  width: 100vw;
  white-space: nowrap;
  overflow: scroll hidden;
  max-height: calc((calc((100dvh - 100px) / 6) + 40px) * 2);
}
.work .projects .project {
  min-width: 60vw;
  font-family: "Bricolage Bold", sans-serif;
}
.work .projects .project__text {
  display: flex;
  justify-content: space-between;
  height: 50%;
  padding: 0 15px 15px;
  align-items: flex-end;
}
.work .projects .project__text .number {
  font-size: 2.5rem;
  color: rgba(255, 0, 0, 0.5);
}
.work .projects .project__image {
  height: 50%;
}
.work .projects .project__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 25%;
     object-position: 0 25%;
  width: 100%;
  height: 100%;
}
.work .projects .project:nth-child(even) {
  display: flex;
  flex-direction: column-reverse;
}
.work .projects .project:nth-child(even) .project__text {
  align-items: flex-start;
  padding: 15px 15px 0;
  border-top: 1px solid #fcfbf5;
}
.work .projects .project:nth-child(odd) .project__image {
  border-top: 1px solid #fcfbf5;
}
.work .category {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  margin: calc((100dvh - 100px) / 6) 0 0;
  border-top: 1px solid #fcfbf5;
  min-height: calc(calc((100dvh - 100px) / 6) / 2);
  width: 100dvw;
  font-family: "Now Black", sans-serif;
}
.work .aka__red {
  width: calc(calc((100dvw - 100px) / 6) + 20px);
  height: calc((100dvh - 100px) / 6);
  top: 72%;
  left: -8%;
}
.work .aka__cream {
  width: calc(calc((100dvw - 100px) / 6) / 2);
  height: calc(calc((100dvh - 100px) / 6) / 2);
  top: 90%;
  left: -2%;
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
.anim {
  animation: slideRight 1s forwards ease-in;
}

.anim__reverse {
  animation: slideLeft 1s forwards ease-out;
}

.hidden-temp {
  visibility: hidden;
}

.about {
  top: -150%;
  left: 0;
}
.about .content {
  height: calc(calc((100dvh - 100px) / 6) * 4 + 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: calc(calc((100dvh - 100px) / 6) + 20px);
  margin-inline: calc(calc((100dvw - 100px) / 6) + 20px);
  gap: 20px;
}
.about .content img {
  height: calc((100dvh - 100px) / 6);
}
.about .content__title {
  text-transform: uppercase;
  margin-top: 6px;
  font-family: "Now Black", sans-serif;
  font-size: 1.2rem;
}
.about .content__text {
  text-align: center;
  height: calc(calc((100dvh - 100px) / 6) * 2 + 20px);
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.about .content:nth-child(1) .content__text, .about .content:nth-child(2) .content__text {
  overflow-y: scroll;
  -webkit-mask-image: linear-gradient(#000 50%, transparent 100%);
          mask-image: linear-gradient(#000 50%, transparent 100%);
  scrollbar-width: none;
}
.about .content:nth-child(1) .content__text p, .about .content:nth-child(2) .content__text p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: justify;
  padding: 5% 0 35%;
}
.about .content--friends .content__text {
  height: auto;
}
.about .menus {
  margin: 20px calc(calc((100dvw - 100px) / 6) + 20px) 0;
  height: calc((100dvh - 100px) / 6);
}
.about .menus--grid {
  display: flex;
  flex-wrap: wrap;
}
.about .menus--grid .jobs,
.about .menus--grid .aboutMenu {
  width: 100%;
  display: flex;
}
.about .menus--grid .jobs li,
.about .menus--grid .aboutMenu li {
  text-align: center;
  margin-block: auto;
  width: 33.3333333333%;
}
.about .menus--flex {
  display: flex;
}
.about .menus--flex .aboutMenu {
  display: flex;
  align-items: center;
  width: 100%;
}
.about .menus--flex .aboutMenu li {
  text-align: center;
  margin-block: auto;
  width: 33.3333333333%;
}
.about .aboutMenu__link:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4vh;
}
.about .slideTitle {
  text-align: center;
}
.about .friendlist .friend {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about .friendlist .friend .slider {
  display: flex;
  height: calc((100dvh - 100px) / 6);
  width: calc(calc((100dvw - 100px) / 6) * 4 + 60px);
  justify-content: space-between;
  align-items: center;
}
.about .friendlist .friend .slider i {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.418);
}
.about .friendlist .friend__description {
  height: calc((100dvh - 100px) / 6);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .friendlist .friend__description .name {
  font-size: 2rem;
  font-family: "Bricolage Bold", sans-serif;
}
.about .friendlist .friend__description .text {
  text-align: center;
  height: calc(calc((100dvh - 100px) / 6) / 2);
  font-size: 1.2rem;
  line-height: 1.4rem;
  flex: 1;
  display: flex;
  align-items: center;
}
.about .aka {
  bottom: -3%;
  width: calc(calc((100dvw - 100px) / 6) * 1.5);
  height: calc(calc((100dvh - 100px) / 6) / 2);
}
.about .aka__cream {
  left: 0%;
}
.about .aka__red {
  right: 0;
}

.contact {
  top: 0;
  left: -150%;
}
.contact .content {
  padding: calc((100dvh - 100px) / 6) 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(calc((100dvh - 100px) / 6) * 4 + 60px);
  margin: 0 calc(calc((100dvw - 100px) / 6) + 20px);
}
.contact .content .text {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  height: calc(calc((100dvh - 100px) / 6) * 2 + 20px);
}
.contact .content--typeform .subtitle {
  color: #fcfbf5;
  text-transform: uppercase;
  font-size: 3rem;
  min-height: 10vh;
  display: flex;
  align-items: flex-end;
}
.contact .content--medias .medias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 10vh;
}
.contact .content--medias img {
  max-width: 15vw;
}
.contact .content--form {
  padding: calc(calc((100dvh - 100px) / 6) + 20px) 0 0;
  justify-content: flex-start;
}
.contact .content--form form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: calc(calc((100dvh - 100px) / 6) * 0.095);
  width: calc(calc((100dvw - 100px) / 6) * 4);
}
.contact .content--form form input,
.contact .content--form form textarea {
  font-family: "Bricolage Bold", sans-serif;
  color: rgba(255, 255, 255, 0.4);
  background-color: #2c2c2c;
  border: none;
  padding-left: 3vw;
  font-size: 1.5rem;
}
.contact .content--form form input {
  height: calc(calc((100dvh - 100px) / 6) * 0.27);
}
.contact .content--form form textarea {
  margin-top: calc(20px - calc((100dvh - 100px) / 6) * 0.095);
  height: 16.6666666667dvh;
  padding-top: 1vh;
  resize: none;
}
.contact .content--form form ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 15px;
}
.contact .content--form form ::placeholder {
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 15px;
}
.contact .content--form form input[type=submit] {
  width: 60%;
}
.contact .slideTitle {
  margin: 0 0 35px calc((100dvw - 100px) / 6);
}
.contact .contactMenu {
  font-family: "Bricolage Bold", sans-serif;
  margin-left: calc((100dvw - 100px) / 6);
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.contact .contactMenu__link {
  width: -moz-fit-content;
  width: fit-content;
}
.contact .aka__cream {
  width: calc(calc((100dvw - 100px) / 6) + 20px);
  top: 63%;
  right: -8%;
}
.contact .aka__red {
  width: calc(calc((100dvw - 100px) / 6) / 2);
  height: calc(calc((100dvh - 100px) / 6) / 2);
  top: 80%;
  right: -3%;
}

@font-face {
  font-family: "Now Black";
  src: url("../fonts/Now-Black.otf");
}
@font-face {
  font-family: "Bricolage Bold";
  src: url("../fonts/BricolageGrotesque-Bold.woff2");
}
@font-face {
  font-family: "Bricolage Light";
  src: url("../fonts/BricolageGrotesque-Light.woff2");
}
body {
  background-color: #131412;
  color: #fcfbf5;
  overflow: hidden;
  position: relative;
  font-family: "Bricolage Light", sans-serif;
}

main {
  transition: transform 0.75s;
}/*# sourceMappingURL=style.css.map */